body {
    font-family: "Raleway", sans-serif;
    background-color: rgba(18,30,34,1);
    color: #628795;
}
.banner h1 {
    font-family: "Playfair Display SC", "Georgia", serif;
    font-size: 80px;
    font-weight: normal;
    color: #AA6728;
}

h1 {
  font-family: "Playfair Display SC", "Georgia", serif;
  font-size: 3rem;
  font-weight: normal;
  color: #AA6728;
}

h2 {
    font-family: "Playfair Display SC", "Georgia", serif;
    font-size: 1rem;
    font-weight: normal;
    color: #AA6728
}

h3 {
    font-family: "Playfair Display SC", "Georgia", serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #fff;
}

h4 {
  font-family: "Playfair Display SC", "Georgia", serif;
  font-size: 2rem;
  font-weight: normal;
  color: rgba(123, 132, 114);
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #6b6b6b; 
  padding: 0rem 4rem;
}

a {
    color: rgba(123, 132, 114, 0.5);
    text-decoration: none;
}
    a:hover {
        color: #628795;
    }

    a:hover > h5  {
      color: #bdbdbd;
    }


.container {
  padding: 0rem 4rem;
  margin: 10px 0px; 
}

.navbar {
    background-color: rgba(18,30,34,0.8);
    border-bottom: white;
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0);
    /*--bs-navbar-toggler-icon-bg: ;*/
    /*rgba(123, 132, 114, 0.5);*/
}

.nav {
    background-color: transparent;
}

.navbar-toggler.collapsed .navbar-toggler-icon{
    background-image: url("images/menu.svg");
}

.navbar-toggler .navbar-toggler-icon{
    background-image: url("images/close.svg");
}

.navbar-toggler-icon{
    background-image: url("images/menu.svg");
}

.banner {
      /* The image used */
      background-image: url("images/jena2.jpg");

      /* Set a specific height */
      min-height: 100vh; 
      /* height: 100vh; */
      width: 100%;
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.banner-box{
    color: white;
    background-color:rgba(123, 132, 114, 0.75);
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    height: 200px;
    width: 600px;
}

.banner-text {
    margin: 20px;
}

.photo-text {
  font-size: 3rem;
  color: white;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
  }
  
  #loading-image {
    z-index: 100;
  }

  .gallery-photo {
    background-color: #FFF;
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: cover;
    height: 500px;
    width: 500px;
  }

  .parallax {

    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .self1 {
    background-image: url("images/self1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 100%;
  }
  .self2 {
    background-image: url("images/self2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 100%;
  }
  .self3 {
    background-image: url("images/self3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 100%;
  }
  .btn-banner:hover {
    background-color: #00000005;
    opacity: 0.25;
  }

  .btn-banner:hover h3{
    color: white;
    opacity: 1;
  }

  .btn-banner h3{
    color: white;
    opacity: 1;
  }
  
  .banner-photo {
    object-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0.60;
  }

  a.image {
    display: block;
    height: 500px;
    width: 100vw;
  }

  .about-text {
    width: 45%;
    padding: 10px 15px 10px 15px;
    margin: 10px 20px 10px 20px;
  }

@media (max-width: 600px) {

    h1 {
        font-size: 40px;
    }

    .banner-box{
        color: white;
        background-color:rgba(123, 132, 114, 0.5);
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        height: 40vh;
        width: 100vw;
    }
    .banner-text{
        margin: 5px;
    }

    .banner{
        background-position: center bottom;
    }

    body {
        background-color: #121e22;
    }
}