body {
    font-family: "Raleway", sans-serif;
    background-color: rgba(18,30,34,1);
    color: #628795;
}
.banner h1 {
    font-family: "Playfair Display SC", "Georgia", serif;
    font-size: 80px;
    font-weight: normal;
    color: #AA6728;
}

h1 {
  font-family: "Playfair Display SC", "Georgia", serif;
  font-size: 3rem;
  font-weight: normal;
  color: #AA6728;
}

h2 {
    font-family: "Playfair Display SC", "Georgia", serif;
    font-size: 1rem;
    font-weight: normal;
    color: #AA6728
}

h3 {
    font-family: "Playfair Display SC", "Georgia", serif;
    font-size: 2rem;
    font-weight: normal;
    color: rgba(123, 132, 114);
}

a {
    color: rgba(123, 132, 114, 0.5);
    text-decoration: none;
}
    a:hover {
        color: #628795;
    }

.navbar {
    background-color: rgba(18,30,34,0.8);
    border-bottom: white;
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0);
    /*--bs-navbar-toggler-icon-bg: ;*/
    /*rgba(123, 132, 114, 0.5);*/
}

.nav {
    background-color: transparent;
}

.navbar-toggler.collapsed .navbar-toggler-icon{
    background-image: url("images/menu.svg");
}

.navbar-toggler .navbar-toggler-icon{
    background-image: url("images/close.svg");
}

.navbar-toggler-icon{
    background-image: url("images/menu.svg");
}

.banner {
    background-image: url("images/jena2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.banner-box{
    color: white;
    background-color:rgba(123, 132, 114, 0.75);
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    height: 200px;
    width: 600px;
}

.banner-text {
    margin: 20px;
}

.photo-text {
  font-size: 3rem;
  color: white;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
  }
  
  #loading-image {
    z-index: 100;
  }

  .gallery-photo {
    background-color: #FFF;
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: cover;
    height: 500px;
    width: 500px;
  }

  .photo1 {
    background-image: url("images/photos/lizzie2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .photo2 {
    background-image: url("images/photos/lizzie1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .photo3 {
    background-image: url("images/photos/lizzie3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .photo4 {
    background-image: url("images/photos/lizzie4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .photo5 {
    background-image: url("images/photos/lizzie7.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .photo6 {
    background-image: url("images/photos/lizzie6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .prod1 {
    background-image: url("images/photos/prod1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .prod2 {
    background-image: url("images/photos/prod2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .prod3 {
    background-image: url("images/photos/prod3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .prod4 {
    background-image: url("images/photos/prod4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .prod5 {
    background-image: url("images/photos/prod5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .prod6 {
    background-image: url("images/photos/prod6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .prom1 {
    background-image: url("images/photos/prom1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .prom2 {
    background-image: url("images/photos/prom2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .prom3 {
    background-image: url("images/photos/prom3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .prom4 {
    background-image: url("images/photos/prom4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .prom5 {
    background-image: url("images/photos/prom5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .prom6 {
    background-image: url("images/photos/prom6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .wed1 {
    background-image: url("images/photos/wed1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .wed2 {
    background-image: url("images/photos/wed2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .wed3 {
    background-image: url("images/photos/wed3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .wed4 {
    background-image: url("images/photos/wed4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .wed5 {
    background-image: url("images/photos/wed5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .wed6 {
    background-image: url("images/photos/wed6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .jewel1 {
    background-image: url("images/jewel1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .jewel2 {
    background-image: url("images/jewel2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .jewel3 {
    background-image: url("images/jewel3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .jewel4 {
    background-image: url("images/jewel4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .jewel5 {
    background-image: url("images/jewel5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .jewel6 {
    background-image: url("images/jewel6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .jewel7 {
    background-image: url("images/jewel7.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .jewel8 {
    background-image: url("images/jewel8.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
  }
  .self1 {
    background-image: url("images/self1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 100%;
  }
  .self2 {
    background-image: url("images/self2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 100%;
  }
  .self3 {
    background-image: url("images/self3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 100%;
  }
  .btn-banner:hover {
    background-color: #00000005;
    opacity: 0.25;
  }

  .btn-banner:hover h3{
    color: white;
    opacity: 1;
  }

  .btn-banner h3{
    color: white;
    opacity: 1;
  }
  

  .banner-photo1 {
    background-image: url("images/photos/beach-banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100vw;
    position: relative;
    opacity: 0.60;
  }
  .banner-photo2 {
    background-image: url("images/photos/barista.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100vw;
    position: relative;
    opacity: 0.60;
  }
  .banner-photo3 {
    background-image: url("images/photos/banner-prom.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100vw;
    position: relative;
    opacity: 0.60;
  }
  .banner-photo4 {
    background-image: url("images/photos/wedding-banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100vw;
    position: relative;
    opacity: 0.60;
  }
  .banner-photo5 {
    background-image: url("images/photos/food-banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100vw;
    position: relative;
    opacity: 0.60;
  }
  .banner-photo6 {
    background-image: url("images/photos/nature-banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100vw;
    position: relative;
    opacity: 0.60;
  }
  .jewelry-banner {
    background-image: url("images/jewelry-banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100vw;
    position: relative;
    opacity: 0.60;
  }

  .about-text {
    width: 45%;
    padding: 10px 15px 10px 15px;
    margin: 10px 20px 10px 20px;
  }

@media (max-width: 600px) {

    h1 {
        font-size: 40px;
    }

    .banner-box{
        color: white;
        background-color:rgba(123, 132, 114, 0.5);
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        height: 40vh;
        width: 100vw;
    }
    .banner-text{
        margin: 5px;
    }

    .banner{
        background-position: center bottom;
    }

    body {
        background-color: #121e22;
    }
}